@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

body {
    font-family: 'andada pro', sans-serif;
    padding: 0;
    margin: 0;

}

ul {
    margin: 0;
    padding: 0;

}
li {
    list-style-type: none;
}